.result-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40rem;
    margin: 2rem auto;
    
}
table{
    width:80%;
    margin: 10rem auto;
}
td,th{
    padding: 1rem;
}
.operation-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    /* border: none; */
}
.operation-btns button{
      background: none; 
     /* border: none;  */
     padding: 0.1rem;
     width: 4rem;
     border-radius: 5px;
     background-color: rgb(49, 44, 44);
     color: white;
}