.container{
    margin:10px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 20px;
    max-width: 800px;
    border: none;
    background-color: none;
   

}