/* LoginForm.css */
/* h2{
    text
} */
.container {
    max-width: 350px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .Container-heading{
    text-align: center;
  }
  .form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(232, 236, 239);
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  