.attempted-number-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    /* max-width: 100%; */
  }
  table{
    width:90%;
  }
  td{
    text-align: center;
  }
  tr{
    margin: 0;
  }
  .attempted-number-container-btn{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap:100px; */
  }
  .attempted-text{
    text-decoration: underline;
  }
  .total-attempted {
   
    margin-top: -150px;
  }
  /* .total-attempted tr{
    max-width:1100px ;
  } */
  