.attempted-number-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    /* max-width: 100%; */
  }
  table{
    width:100%;
  }
  td{
    text-align: center;
  }
  .attempted-number-container-btn{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
  }
  .attempted-text{
    text-decoration: underline;
  }
  .total-attempted {
   
    margin-top: 100px;
  }
  .total-attempted tr{
    max-width:1000px ;
  }
  