/* .timer{
    background-color: rgb(249, 12, 44);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: azure;
    width: 100px;
    font-size:large;
    position: fixed;

} */
.timer-btn{
   
    background: rgb(242, 9, 9) ;
    width: 130px;
    color:  white;
    font-size: large;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 2px;
}